.cart-div {
  position: relative; /* Necesario para que el span pueda posicionarse respecto a este contenedor */
}

.cart-count {
  position: absolute; /* Permite que el span se posicione de manera independiente */
  top: 0; /* Alinea en la parte superior */
  right: 0; /* Alinea en la parte derecha */
  font-weight: 800;
  background-color: rgb(107, 106, 106);
  color: white;
  border-radius: 50%; /* Forma circular */
  border: 1px solid white;
  padding: 0.3rem 0.6rem; /* Ajusta el padding según sea necesario */
}
