.product-card {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fff;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
}

.product-card h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* número de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 2.4em; /* ajusta esto según el tamaño de tu fuente */
}

.card-img {
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.add-to-cart-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em;
}

.product-card:hover {
  transform: scale(1.015);
  transition: transform 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}
