#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ----> Clases del archivo base: Vino.jsx, cerveza.jsx, etc.  <--------- */

.product-container {
  padding: 6rem;
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* ----> Clases del archivo detalles: VinoDetalle.jsx, cervezaDetalle.jsx, etc.  <--------- */

.product-detalle-container {
  max-width: 600px;
  margin: 8rem;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-detalle-img {
  width: auto;
  height: 22rem;
  border-radius: 4px;
  margin-bottom: 15px;
}

.product-detalle-description {
  background-color: rgba(60, 60, 60, 0.8);
  border: 1px solid black;
  padding: 1rem;
}
